body{
    background-color: aliceblue;
}
#locations {
    font-weight: bold;
}

#penalty {
    font-style: italic;
}

#help {
    background-color: aquamarine;
    width: fit-content;
}
img{
    width: 100px;
    height: 100px;
}
#button-1{
    color: blue;
    cursor: pointer;
    width: fit-content;
}
#button-1:hover{
    text-decoration: underline;
    cursor: pointer;
}
#btn-2{
    color: #000;
    background-color: #5bc2e7;
    background-image: linear-gradient(to bottom,#5bc2e7 50%,#000 50%);
    background-size: 100% 200%;
    transition: all .2s;
    font-weight: bold;
    font-family: cursive;
    border: 0;
}
#btn-2:hover{
    background-color: #000;
    background-position: 0 -100%;
    font-weight: bold;
    color: #5bc2e7
}
#btn-3{
    color: #d9d9d6;
    background-color: #222731;
    background-image: linear-gradient(to bottom,#222731 50%,#d9d9d6 50%);
    background-size: 100% 200%;
    transition: all .2s;
    font-weight: bold;
    font-family: cursive;
    border: 0;
}
#btn-3:hover{
    background-color: #d9d9d6 ;
    background-position: 0 -100%;
    font-weight: bold;
    color: #222731;
}

#btn-4{
    background-color: #7ccc6c;
    background-image: linear-gradient(to bottom, #7ccc6c 50%, #000000 50%);
    color: #000;
    background-size: 100% 200%;
    transition: all .2s;
    font-weight: bold;
    font-family: cursive;
    border: 0;
}
#btn-4:hover{
    background-color: #000;
    background-position: 0 -100%;
    font-weight: bold;
    color: #7ccc6c
}

#btn-5{
    background-color: #ffc107;
    background-image: linear-gradient(to bottom, #ffc107 50%, #000000 50%);
    color: #000;
    background-size: 100% 200%;
    transition: all .2s;
    font-weight: bold;
    font-family: cursive;
    border: 0;
}
#btn-5:hover{
    background-color: #000;
    background-position: 0 -100%;
    font-weight: bold;
    color: #ffc107
}