body{
    background-color: aliceblue;
}
#locations {
    font-weight: bold;
}

#penalty {
    font-style: italic;
}

#help {
    color: blue;
    cursor: pointer;
    width: fit-content;
}
#help:hover{
    text-decoration: underline;
    cursor: pointer;
}
img{
    width: 150px;
    height: 150px;
}
